<h2 mat-dialog-title>{{ (isEdit ? "admin.sources.edit.title" : "admin.sources.create.title") | translate }}</h2>

<mat-dialog-content class="source-edit-content">
	<form [formGroup]="form" class="grid">
		<mat-form-field appearance="outline">
			<mat-label>{{ "admin.sources.name" | translate }}</mat-label>
			<input matInput formControlName="name" maxlength="255" />
			<mat-error *ngIf="form.get('name')?.hasError('required')">
				{{ "admin.sources.name.required" | translate }}
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>{{ "admin.sources.description" | translate }}</mat-label>
			<textarea matInput formControlName="description" rows="4" maxlength="10000"></textarea>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>{{ "admin.sources.hypotheticalQuestions" | translate }}</mat-label>
			<mat-chip-grid #chipGrid>
				<mat-chip-row *ngFor="let question of hypotheticalQuestions" (removed)="removeQuestion(question)">
					{{ question }}
					<button matChipRemove [attr.aria-label]="'admin.actions.remove' | translate">
						<mat-icon svgIcon="cancel"></mat-icon>
					</button>
				</mat-chip-row>
				<input
					[placeholder]="'admin.sources.hypotheticalQuestions.placeholder' | translate"
					[matChipInputFor]="chipGrid"
					[matChipInputSeparatorKeyCodes]="separatorKeyCodes"
					(matChipInputTokenEnd)="addQuestion($event)"
				/>
			</mat-chip-grid>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="actions">
	<button mat-button [obButton]="'secondary'" (click)="cancel()">
		{{ "cancel" | translate }}
	</button>
	<button mat-button [obButton]="'primary'" [disabled]="form.invalid" (click)="submit()">
		{{ (isEdit ? "admin.actions.save" : "admin.actions.create") | translate }}
	</button>
</mat-dialog-actions>
