<form [formGroup]="faqItemFrmGrp">
	<mat-form-field obErrorMessages>
		<mat-label>{{ "question" | translate }}</mat-label>
		<textarea [formControlName]="FORM_FIELDS.QUESTION" name="question" type="text" matInput placeholder=""></textarea>
		<mat-error></mat-error>
	</mat-form-field>
	<mat-form-field obErrorMessages>
		<mat-label>{{ "answer" | translate }}</mat-label>
		<textarea [formControlName]="FORM_FIELDS.ANSWER" name="answer" type="text" matInput placeholder=""></textarea>
		<mat-error></mat-error>
	</mat-form-field>
	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.tags" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.TAGS" multiple>
			<mat-option *ngFor="let tag of TAGS" [value]="tag">{{ 'tags.' + tag | translate }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>
	<mat-form-field obErrorMessages>
		<mat-label>{{ "url.source" | translate }}</mat-label>
		<input [formControlName]="FORM_FIELDS.SOURCE" name="source" type="text" matInput placeholder="" />
		<mat-error></mat-error>
	</mat-form-field>
	<mat-form-field obErrorMessages>
		<mat-label>{{ "language" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.LANGUAGE">
			<mat-option *ngFor="let language of languages" [value]="language">
				{{ language | translate }}
			</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>
</form>
