@use '@oblique/oblique/styles/scss/core/variables';
@use '@oblique/oblique/styles/scss/core/palette';
@use '@oblique/oblique/styles/scss/core/mixins/layout';

:host {
	height: 100%;
	width: 100%;

	.history-card, .configuration-card {
		height: calc(80vh + 6px);
		overflow-y: scroll;
	}

	.chat-container {
		padding-left: 16px;
		padding-right: 16px;
		height: 75vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.message-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50vw;
		height: 100%;
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.question-container {
		background-color: palette.$ob-secondary-50;
		display: flex;
		flex-direction: row;
		align-items: center;

		button {
			margin-bottom: 20px;
			margin-right: 4px;
			margin-left: 4px;
		}

		ut-autocomplete-input {
			width: 50vw;
		}
	}

	.logo {
		top: 20vh;
		position: absolute;
		opacity: 0.2;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		img {
			width: 200px;
		}
	}

	.ia-avatar {
		width: 20px;
		height: fit-content;
	}

	.message {
		width: 100%;
		display: grid;
		flex-direction: column;

		&.retrieving {
			opacity: 0.7;
			font-style: italic;
			color: var(--theme-text-light);
			animation: glow 1.5s ease-in-out infinite;
		}

		&.validating {
			opacity: 0.7;
			font-style: italic;
			color: var(--theme-text-light);
			animation: glow 1.5s ease-in-out infinite;
		}

		&.routing {
			opacity: 0.7;
			font-style: italic;
			color: var(--theme-text-light);
			animation: glow 1.5s ease-in-out infinite;
		}

		&.agent {
			opacity: 0.7;
			font-style: italic;
			color: var(--theme-text-light);
			animation: glow 1.5s ease-in-out infinite;
		}

		&.tool {
			opacity: 0.7;
			font-style: italic;
			color: var(--theme-text-light);
			animation: glow 1.5s ease-in-out infinite;
		}

		&.processing-intent,
		&.processing-sources,
		&.processing-tags {
			opacity: 0.7;
			font-style: italic;
			color: var(--theme-text-light);
			animation: glow 1.5s ease-in-out infinite;
		}
	}

	.my-message {
		border-radius: 1.5rem;
		padding: 16px;
		background: palette.$ob-white;
		max-width: 48%;
		justify-self: end;
		margin-top: 16px;
		margin-bottom: 16px
	}

	.ia-message {
		display: flex;
		width: 100%;
		justify-self: start;
		margin-top: 16px;
		margin-bottom: 16px;
	}
}

@keyframes glow {
	0% {
		opacity: 0.7;
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	50% {
		opacity: 1;
		text-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
	}
	100% {
		opacity: 0.7;
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}
