@use "@oblique/oblique/styles/scss/core/variables";
@use "@oblique/oblique/styles/scss/core/palette";
@use "sass:map";

.footer-link {
	text-decoration: none !important;
	color: white !important;
}

.h100 {
	height: 100%;
}

.w100 {
	width: 100%;
}

.mr8 {
	margin-right: 8px;
}

.mr16 {
	margin-right: 16px;
}

.mt4 {
	margin-top: 4px;
}

.mt16 {
	margin-top: 16px !important;
}

.mt8 {
	margin-top: 8px;
}

.mb4 {
	margin-bottom: 4px;
}

.mb32 {
	margin-bottom: 32px;
}

.w50 {
	width: 50%;
}

.flex-1 {
	flex: 1;
}

.mb16 {
	margin-bottom: 16px;
}

.mt8 {
	margin-top: 8px;
}

.d-grid {
	display: grid !important;
}

.zco-highlight-text {
	font-weight: bold;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.aic {
	align-items: center;
}

.jcsb {
	justify-content: space-between;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.blink  {
	animation-duration: .8s;
	animation-name: blink;
	animation-iteration-count: infinite;
	transition: none;
}

@keyframes blink {
	0%   { opacity:1; }
	40%   {opacity:0; }
	100% { opacity:1; }
}

main#content {
	background-color: palette.$ob-secondary-50;
	padding: 0;
}

.ob-column-content {
	padding: 0 !important;
}

.mdc-dialog__title {
	font-size: 24px !important;
	&::before {
		display: none !important;
	}
}

.save-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

@media (min-width: map.get(variables.$ob-grid-breakpoints, "md")) {
	zco-chat {
		.ob-column-layout {
			.ob-column-left,
			.ob-column-right {
				flex-basis: 16vw;
				max-width: 16vw;
			}

			.ob-column-left.ob-collapsed {
				margin-left: -16vw;
			}

			.ob-column-right.ob-collapsed {
				margin-right: -16vw;
			}
		}
	}
}
