<ob-master-layout [navigation]="getNavigation()">
	<ng-container obHeaderTitle>ZAS/EAK CopilotGPT {{ projectVersion ? '| ' + projectVersion : '' }}</ng-container>
	<ng-template #obHeaderControl>
		<div *ngIf="userNotAuthenticated()">
			<button class="mr16" mat-button [obButton]="'primary'" (click)="openSignUpDialog()">{{ "sign.up" | translate }}</button>
			<button mat-button [obButton]="'primary'" (click)="openSignInDialog()">{{ "sign.in" | translate }}</button>
		</div>
		<div *ngIf="userAuthenticated()">
			<button mat-button [obButton]="'primary'" (click)="logout()">{{ "logout" | translate }}</button>
		</div>
	</ng-template>
	<ng-container obFooterInfo>
		<p>ZAS / EAK CopilotGPT</p>
		<p>&copy; 2024 <span> ZAS </span></p>
	</ng-container>
</ob-master-layout>
