<ob-master-layout [navigation]="getNavigation()">
	<ng-container obHeaderTitle>ZAS/EAK CopilotGPT</ng-container>
	<ng-template #obHeaderControl>
		<div *ngIf="userNotAuthenticated()">
			<button class="mr16" mat-button [obButton]="'primary'" (click)="openSignUpDialog()">{{ "sign.up" | translate }}</button>
			<button mat-button [obButton]="'primary'" (click)="openSignInDialog()">{{ "sign.in" | translate }}</button>
		</div>
		<div *ngIf="userAuthenticated()">
			<button mat-button [obButton]="'primary'" (click)="logout()">{{ "logout" | translate }}</button>
		</div>
	</ng-template>
	<ng-container obFooterInfo>
		<p>
			<span>ZAS / EAK CopilotGPT {{ projectVersion ? "| " : "" }}</span>
			<a class="footer-link" href="https://github.com/CdC-SI/ZAS-EAK-CopilotGPT" target="_blank">{{ projectVersion }}</a>
		</p>
		<p>
			&copy; 2025 <span> ZAS | </span>
			<a class="footer-link" href="https://portal.collab.admin.ch/sites/602-eak-copilot/PublicDocuments/Nutzungsvereinbarung-Mitarbeitende.pdf" target="_blank">
				{{ "gcu" | translate }} | 
			</a>
			<a class="footer-link" href="https://portal.collab.admin.ch/sites/602-eak-copilot/PublicDocuments/Datenschutzerklaerung.pdf" target="_blank">
				{{ "confidentiality" | translate }}
			</a>
		</p>
	</ng-container>
</ob-master-layout>
