<ob-master-layout [navigation]="getNavigation()">
	<ng-container obHeaderTitle>ZAS/EAK CopilotGPT</ng-container>
	<ng-template #obHeaderControl>
		<div>
			{{ getDisplayName() }}
		</div>
	</ng-template>
	<ng-container obFooterInfo>
		<p>
			<span>ZAS / EAK CopilotGPT {{ projectVersion ? "| " : "" }}</span>
			<a class="footer-link" href="https://github.com/CdC-SI/ZAS-EAK-CopilotGPT" target="_blank">{{ projectVersion }}</a>
		</p>
		<p>
			&copy; 2025 <span> ZAS | </span>
			<a class="footer-link" href="https://portal.collab.admin.ch/sites/602-eak-copilot/PublicDocuments/Nutzungsvereinbarung-Mitarbeitende.pdf" target="_blank">
				{{ "gcu" | translate }} | 
			</a>
			<a class="footer-link" href="https://portal.collab.admin.ch/sites/602-eak-copilot/PublicDocuments/Datenschutzerklaerung.pdf" target="_blank">
				{{ "confidentiality" | translate }}
			</a>
		</p>
	</ng-container>
</ob-master-layout>

<ng-template #userNotRegisteredDialog>
	<h2 mat-dialog-title>{{ "copilot.register.info.title" | translate }}</h2>
	<div mat-dialog-content>
		<p>{{ "copilot.register.info.text.1" | translate }}</p>
		<p>{{ "copilot.register.info.text.2" | translate }}</p>
	</div>
	<div mat-dialog-actions class="mt16">
		<button mat-button [obButton]="'tertiary'" [mat-dialog-close]="false">
			<mat-icon svgIcon="cancel"></mat-icon>
			{{ "continue.guest" | translate }}
		</button>
		<button mat-button [obButton]="'primary'" [mat-dialog-close]="true">
			<mat-icon svgIcon="arrow-right"></mat-icon>
			{{ "copilot.register" | translate }}
		</button>
	</div>
</ng-template>
