<div class="pd5">
	<mat-accordion>
		<!-- Users Administration -->
		<mat-expansion-panel (opened)="onUserPanelOpened()">
			<mat-expansion-panel-header>
				<mat-panel-title>{{ "admin.manage.users" | translate }}</mat-panel-title>
				<mat-panel-description>{{ "admin.manage.users.description" | translate }}</mat-panel-description>
			</mat-expansion-panel-header>

			<!-- lazy instantiation of user accounts component -->
			<ng-template matExpansionPanelContent>
				<zco-user-accounts #userAccountsComponent></zco-user-accounts>
			</ng-template>
		</mat-expansion-panel>

		<!-- Feedback KPI -->
		<mat-expansion-panel (opened)="onFeedbackPanelOpened()">
			<mat-expansion-panel-header>
				<mat-panel-title>{{ "admin.manage.feedback" | translate }}</mat-panel-title>
				<mat-panel-description>{{ "admin.manage.feedback.description" | translate }}</mat-panel-description>
			</mat-expansion-panel-header>

			<!-- lazy instantiation of feedback kpi component -->
			<ng-template matExpansionPanelContent>
				<zco-feedback-kpi #feedbackKpiComponent></zco-feedback-kpi>
			</ng-template>
		</mat-expansion-panel>

		<!-- FAQ Administration -->
		<mat-expansion-panel togglePosition="after">
			<mat-expansion-panel-header>
				<mat-panel-title>{{ "admin.manage.faq" | translate }}</mat-panel-title>
				<mat-panel-description>{{ "admin.manage.faq.description" | translate }}</mat-panel-description>
			</mat-expansion-panel-header>

			<zco-faq-edit #faqEditComponent></zco-faq-edit>
		</mat-expansion-panel>

		<!-- Upload embedded documents -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>{{ "admin.manage.documents" | translate }}</mat-panel-title>
				<mat-panel-description>{{ "admin.manage.documents.description" | translate }}</mat-panel-description>
			</mat-expansion-panel-header>

			<zco-doc-upload #docUploadComponent></zco-doc-upload>
		</mat-expansion-panel>
	</mat-accordion>
</div>
