<form [formGroup]="addFaqItemFormGrp">
	<zco-add-faq-item [editMode]="faqEditMode" formControlName="faqItem"></zco-add-faq-item>
	<div>
		<button mat-button type="button" (click)="cancel()" [obButton]="'secondary'">
			<mat-icon svgIcon="cancel"></mat-icon>
			{{ "cancel" | translate }}
		</button>
		<button mat-button [obButton]="'primary'" (click)="submit()" [disabled]="!addFaqItemFormGrp.valid">
			<mat-icon svgIcon="checkmark"></mat-icon>
			{{ (faqEditMode ? "edit" : "add") | translate }}
		</button>
	</div>
</form>
