<mat-form-field>
	<mat-label>{{ i18nLabel | translate }}</mat-label>
	<input #itemFilterInput [formControl]="formControl" type="text" matInput [matAutocomplete]="autoInput" />
	<mat-autocomplete
		autoSelectActiveOption="true"
		autoActiveFirstOption="true"
		#autoInput="matAutocomplete"
		(optionSelected)="fireOptionSelected($event.option.value)"
		[displayWith]="getProposalLabelFn()"
	>
		<mat-option *ngFor="let option of options | async" [value]="option" [innerHTML]="getOptionLabel(option)"></mat-option>
	</mat-autocomplete>
</mat-form-field>
