<div class="flex-row aic">
	<div class="flex-column flex-1">
		<img src="./assets/images/copilot_logo.png" alt="copilot-logo" />
		<h4 class="mt16">{{ "login.copilot.account" | translate }}</h4>
	</div>
	<div class="flex-column flex-1" ngForm>
		<form [formGroup]="loginFrmGrp">
			<div class="credentials-error" *ngIf="wrongCredentials">{{ "login.fail" | translate }}</div>
			<mat-form-field obErrorMessages>
				<mat-label>{{ "username" | translate }}</mat-label>
				<input [formControlName]="FORM_FIELDS.USERNAME" name="username" type="text" matInput placeholder="" />
			</mat-form-field>
			<mat-form-field obErrorMessages>
				<mat-label>{{ "password" | translate }}</mat-label>
				<input [formControlName]="FORM_FIELDS.PASSWORD" name="password" type="password" matInput placeholder="" />
			</mat-form-field>
		</form>
	</div>
</div>
<div class="save-button">
	<button mat-button [obButton]="'primary'" (click)="onConfirmClick()" [disabled]="this.loginFrmGrp.invalid">
		<mat-icon svgIcon="checkmark"></mat-icon>
		{{ "login" | translate }}
	</button>
</div>
