<div *ngIf="message.source === ChatMessageSource.USER">
	<markdown class="no-margin" [data]="message.message"></markdown>
</div>
<div *ngIf="message.source !== ChatMessageSource.USER">
	<div class="flex-column">
		<markdown [data]="message.message"></markdown>

		<mat-expansion-panel *ngIf="hasMultipleSources" class="sources-panel">
			<mat-expansion-panel-header>
				<mat-panel-title> Sources ({{ sourcesCount }}) </mat-panel-title>
			</mat-expansion-panel-header>

			<zco-source-list [sources]="message.sources"></zco-source-list>
		</mat-expansion-panel>

		<zco-message-action
			[hidden]="!message.isCompleted || message.inError"
			[message]="message"
			[previousMessage]="previousMessage"
			(feedback)="sendFeedback($event)"
		></zco-message-action>
	</div>
</div>
