<div class="logo" *ngIf="messages.length <= 0">
	<img src="./assets/images/copilot_logo.png" alt="copilot-logo" />
</div>

<div *ngFor="let message of messages; let last = last" class="message">
	<div *ngIf="message.source === ChatMessageSource.USER" class="my-message">
		{{ message.message }}
	</div>
	<div *ngIf="message.source !== ChatMessageSource.USER" class="ia-message">
		<div class="h100">
			<img [ngClass]="last && chatIsSpeaking ? 'blink' : ''" class="mr16" src="./assets/images/copilot_logo.png" alt="copilot-logo" />
		</div>
		<div class="flex-column">
			<markdown [data]="message.message"></markdown>
			<a style="font-style: italic" class="mt4 mb4" *ngIf="!!message.url" [href]="message.url">{{ message.url }}</a>
			<p class="llm-message-actions" *ngIf="!chatIsSpeaking">
				<mat-icon class="llm-message-action" [matTooltip]="'llm.message.edit' | translate" [svgIcon]="'pen'" (click)="editLLMAnswer()"></mat-icon>
				<mat-icon class="llm-message-action" [matTooltip]="'llm.message.upvote' | translate" [svgIcon]="'thumbs-up'"></mat-icon>
				<mat-icon class="llm-message-action" [matTooltip]="'llm.message.downvote' | translate" [svgIcon]="'thumbs-down'"></mat-icon>
				<mat-icon
					class="llm-message-action"
					[matTooltip]="'llm.message.audio' | translate"
					[svgIcon]="'audio'"
					[color]="message.beingSpoken ? 'warn' : 'primary'"
					(click)="speak(message)"
				></mat-icon>
			</p>
		</div>
	</div>
</div>

<form class="question-container" ngForm>
	<ut-autocomplete-input
		class="mr8"
		[required]="false"
		[i18nLabel]="'enter.message'"
		[optionLabelFn]="searchOptionLabelFn"
		[inputLabelFn]="searchOptionLabelFn"
		[optionService]="getSearchProposalFunction"
		[minLength]="0"
		[formControl]="searchCtrl"
		(optionSelected)="selectOption($event)"
	/>

	<button type="submit" mat-icon-button [obButton]="'primary'" (click)="send()">
		<mat-icon svgIcon="paper-plane"></mat-icon>
	</button>

	<button type="button" mat-icon-button (click)="clearChat()" [obButton]="'secondary'">
		<mat-icon svgIcon="trash"></mat-icon>
	</button>
</form>
