<div class="flex-row aic">
	<div class="flex-column flex-1">
		<img src="./assets/images/copilot_logo.png" alt="copilot-logo" />
		<h4 class="mt16">{{ "create.copilot.account" | translate }}</h4>
	</div>
	<div class="flex-column flex-1" ngForm>
		<form [formGroup]="userFrmGrp">
			<mat-form-field obErrorMessages>
				<mat-label>{{ "firstName" | translate }}</mat-label>
				<input [formControlName]="FORM_FIELDS.FIRSTNAME" name="firstName" type="text" matInput placeholder="" />
			</mat-form-field>
			<mat-form-field obErrorMessages>
				<mat-label>{{ "lastName" | translate }}</mat-label>
				<input [formControlName]="FORM_FIELDS.LASTNAME" name="lastName" type="text" matInput placeholder="" />
			</mat-form-field>
			<mat-form-field obErrorMessages>
				<mat-label>{{ "organization" | translate }}</mat-label>
				<mat-select [formControlName]="FORM_FIELDS.ORGANIZATION" multiple>
					<mat-option *ngFor="let entity of ORGANIZATION" [value]="entity">{{ entity }}</mat-option>
				</mat-select>
				<mat-error></mat-error>
			</mat-form-field>
			<mat-checkbox [formControlName]="FORM_FIELDS.CONFIDENTIALITY" name="accept-gcu">
				<a href="https://portal.collab.admin.ch/sites/602-eak-copilot/PublicDocuments/Datenschutzerklaerung.pdf" target="_blank">
					{{ "confidentiality.read" | translate }}
				</a>
			</mat-checkbox>
			<mat-checkbox [formControlName]="FORM_FIELDS.GCU" name="accept-gcu" class="mb16">
				<a href="https://portal.collab.admin.ch/sites/602-eak-copilot/PublicDocuments/Nutzungsvereinbarung-Mitarbeitende.pdf" target="_blank">
					{{ "gcu.read" | translate }}
				</a>
			</mat-checkbox>
		</form>
	</div>
</div>
<div class="save-button">
	<button mat-button [obButton]="'primary'" (click)="onConfirmClick()" [disabled]="this.userFrmGrp.invalid">
		<mat-icon svgIcon="checkmark"></mat-icon>
		{{ "create" | translate }}
	</button>
</div>
