<ng-container [formGroup]="formGroup">
	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.sources" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.SOURCES" multiple (selectionChange)="filterTags($event)">
			<mat-option *ngFor="let source of SOURCES" [value]="source">
				<ng-container *ngIf="isUserPdfUpload(source); else regularSource">
					{{ "sources.user_pdf_upload" | translate }} {{ getUserPdfFilename(source) }}
				</ng-container>
				<ng-template #regularSource>
					{{ "sources." + source | translate }}
				</ng-template>
			</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.tags" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.TAGS" multiple>
			<mat-option *ngFor="let tag of TAGS" [value]="tag">{{ "tags." + tag | translate }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.response-style" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.RESPONSE_STYLE">
			<mat-option *ngFor="let style of RESPONSE_STYLE" [value]="style">{{ "style." + style | translate }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.response-format" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.RESPONSE_FORMAT">
			<mat-option *ngFor="let format of RESPONSE_FORMAT" [value]="format">{{ "format." + format | translate }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>
</ng-container>
