<ng-container [formGroup]="formGroup">
	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.model" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.LLM_MODEL">
			<mat-option *ngFor="let model of LLM_MODELS" [value]="model">{{ model }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.top_p" | translate }}</mat-label>
		<input type="number" step="0.1" min="0" max="1" matInput [formControlName]="FORM_FIELDS.TOP_P" />
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.temperature" | translate }}</mat-label>
		<input type="number" step="0.1" min="0" max="2" matInput [formControlName]="FORM_FIELDS.TEMPERATURE" />
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.tags" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.TAGS" multiple>
			<mat-option *ngFor="let tag of TAGS" [value]="tag">{{ tag }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.sources" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.SOURCES" multiple>
			<mat-option *ngFor="let source of SOURCES" [value]="source">{{ source }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.retrieval-methods" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.RETRIEVAL_METHODS" multiple>
			<mat-option *ngFor="let method of RETRIEVAL_METHODS" [value]="method">{{ method }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.response-style" | translate }}</mat-label>
		<mat-select [formControlName]="FORM_FIELDS.RESPONSE_STYLE">
			<mat-option *ngFor="let style of RESPONSE_STYLE" [value]="style">{{ style | translate }}</mat-option>
		</mat-select>
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.memory" | translate }}</mat-label>
		<input type="number" matInput [formControlName]="FORM_FIELDS.K_MEMORY" />
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.k_retrieve" | translate }}</mat-label>
		<input type="number" matInput [formControlName]="FORM_FIELDS.K_RETRIEVE" />
		<mat-error></mat-error>
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>{{ "parameters.max_output_tokens" | translate }}</mat-label>
		<input type="number" matInput [formControlName]="FORM_FIELDS.MAX_OUTPUT_TOKENS" />
		<mat-error></mat-error>
	</mat-form-field>

	<mat-slide-toggle [formControlName]="FORM_FIELDS.AUTOCOMPLETE">
		{{ "parameters.autocomplete" | translate }}
	</mat-slide-toggle>

	<mat-slide-toggle class="mt16" [formControlName]="FORM_FIELDS.RAG">
		{{ "parameters.rag" | translate }}
	</mat-slide-toggle>

	<mat-slide-toggle class="mt16" [formControlName]="FORM_FIELDS.AGENTIC_RAG">
		{{ "parameters.agentic_rag" | translate }}
	</mat-slide-toggle>
</ng-container>
